body {
  width: auto;
  background-color: var(--bg-color);
}
/* Header */
header {
  padding: 1rem 0.5rem;
  margin-bottom: 1rem;
  background-color: var(--heading-color);
  color: var(--font-color);
  text-align: center;
}

header span {
  font-size: 1.6rem;
  font-weight: 700;
}

/* Main */
ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  /* border: 1px solid red; */
}

li {
  width: 20rem;
  list-style: none;
  font-size: 1.2rem;
  background-color: var(--global-color);
  color: var(--font-color);
  border: 2px solid var(--secondary-color);
  padding: 15px;
  border-radius: 5%;
}

li > h2 {
  text-align: center;
  margin-bottom: 1rem;
  border: 1px solid var(--font-color);
  border-radius: 0.5rem;
}

li.global > h2 {
  border: 1px solid var(--heading-color);
}

ul li .data {
  text-align: center;
  margin-bottom: 0.8rem;
}

ul li .data > p {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--heading-color);
}

ul li.global .data > p {
  color: var(--light-blue-color);
}

ul li .data > span {
  font-size: 1.4rem;
  font-weight: 600;
}